html, body {
    margin: 0;
}
#buttonContainer{
    width: 200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#buttonList {
    margin: 20px 0 20px 0;
}

#buttonList button {
    margin: 5px;
}

#stageCanvas {
    width: 60vw;
    height: calc(60vw * 0.75);
    display: block;
    margin: 0 auto;
    border-style: solid;
    border-width: thin;
    border-color: black;
}
