@font-face {
    font-family: "Arcade classic";
    src: url("../fonts/ARCADECLASSIC.TTF");
}

html, body {
    margin: 0;
}

body {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
}

#buttonContainer{
    width: 200px;
    display: block;
}

#buttonList {
    margin: 20px 0 20px 0;
}

#buttonList button {
    margin: 5px;
}

#stageCanvas {
    display: inline-block;
    width: 60vw;
    height: calc(60vw * 0.75);
    border-style: solid;
    border-width: thin;
    border-color: black;
    margin-top: 75px;
}

#playerContainer{
    margin: 0 10px 0 0;
    display: inline-block;
    height: 730px;
}

.player{
    list-style-type: none;
}

.playerName{
    font-family: "Arcade classic", serif;
    font-size: 20px;
    text-align: center;
    margin: 10px 0;
}

.D1{
    width: 80px;
    height: 125px;
    background: url("../img/characters/d1.png") no-repeat;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.D2{
    width: 84px;
    height: 125px;
    background: url("../img/characters/d2.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.D3{
    width: 97px;
    height: 125px;
    background: url("../img/characters/d3.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.D4{
    width: 97px;
    height: 125px;
    background: url("../img/characters/d4.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
