body {
    margin: 0;
}
#switchContainer {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.switch {
    display: inline-block;
    width: 15vw;
    height: 15vw;
}
.switch img {
    width: 100%;
    height: 100%;
}
