<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Casino IFT-GLO 2015</title>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.7.0/underscore-min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="js/switchUI.js"></script>
    <link rel="stylesheet" type="text/css" href="css/switchUI.css">
</head>
<body>
    <div id="playerContainer">
        <p id="currentPlayer">Player 1</p>
        <p id="playerMessage">Choose wisely!</p>
    </div>
    <div id="switchContainer">
    </div>
</body>
<script type="text/template" id="switchTemplate">
    <%_.each(switches, function(s){%>
    <div data-id="<%= s.name %>" class="switch">
        <img data-id="<%= s.name %>" src="img/detonator.jpg">
    </div>
    <%});%>
</script>
</html>