<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Casino IFT-GLO 2015</title>
    <script src="lib/jquery-2.1.3.min.js"></script>
    <script src="lib/createjs-2014.12.12.min.js"></script>
    <script src="lib/socket.io.js"></script>
    <script src="lib/underscore-min.js"></script>
    <script src="js/switchUI.js"></script>
    <link rel="stylesheet" type="text/css" href="css/switchUI.css">
</head>
<body>
    <div id="playerContainer">
        <p id="currentPlayer">Player 1</p>
        <p id="playerMessage"></p>
    </div>
    <div id="switchContainer">
    </div>
</body>
<script type="text/template" id="switchTemplate">
    <%_.each(switches, function(s){%>
    <div data-id="<%= s.name %>" class="switch">
        <img class="blueSwitch" data-id="<%= s.name %>" src="img/transparent.png">
    </div>
    <%});%>
</script>
</html>